.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img_box {
  background-color: #ea9dd5;
}

.text_box {
  text-align: center;
  justify-content: center;
  padding-top: 100px;
  height: 300px;
  width: 300px;
  background-color: #1df209;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.button {
  padding: 0.5rem;
  text-align: center;
  color: white;
  font-weight: 700;
  font-style: italic;
  background-color: black;
  border-radius: 20px;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.vertical_label {
  margin: 0.2rem;
  font-weight: 600;
  width: 20px;
  height: 500px;
  writing-mode: vertical-lr;
}

#circle {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: black;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
